<!--
  Generated template for the AddrefPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Add reference</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label stacked>Tittle</ion-label>
      <ion-input [(ngModel)]="reference.titulopub" type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Authors</ion-label>
      <ion-input type="text" [(ngModel)]="reference.autores"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="reference.tipopub">
          <ion-option value="1">Magazine article</ion-option>
          <ion-option value="2">Event article</ion-option>
          <ion-option value="3">Other</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Source</ion-label>
      <ion-input type="text" [(ngModel)]="reference.eventorevista"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>DOI</ion-label>
      <ion-input type="text" [(ngModel)]="reference.doi"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Year</ion-label>
      <ion-input type="number" [(ngModel)]="reference.anyopub"></ion-input>
    </ion-item>
    <button ion-button (click)="saveref()">Save reference</button>
  </ion-list>
</ion-content>
